
<div *ngIf="!inParty">
  Currently you are not in any party. Either create one or join one :D

  Create party button.

  List of currently Open Parties you can join!
  Join party button on the row for each one.

  Can also be invited by party leaders :D.

  <!-- This should probably launch a popup and let you configure the fields for the request. -->
  <button type="button" name="button" (click)=createParty() title="Create Party">Create Party</button>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">GroupName</th>
        <th scope="col">Description</th>
        <th scope="col">Size</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let party of parties">
        <td>{{party.partyName}}</td>
        <td>{{party.partyDescription}}</td>
        <td>{{party.partySize}}/4</td>
        <td><button type="button" name="button" (click)="joinParty(party.partyId)" title="Join Party">Join Party</button></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="" *ngIf="inParty">
  <h1>Welcome to the {{party.partyName}}! Party</h1>
  <h2 *ngIf="partyLeader">You are the party leader.</h2>
  <div class="">
    disband/leave the party button.
    (Leader) kick out a member button.

    (Leader)select a quest from the list of quests!
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Completed</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let quest of quests">
          <td>{{quest.getName()}}</td>
          <td>{{quest.getDescription()}}</td>
          <td>{{quest.getData()["Module"]}}</td>
          <td><button type="button" name="button"  title="Join Party">Start Quest</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
